### Unicorn Companies Analysis: Data Wrangling
Steps in data wrangling and cleaning:
1. Removed rows with missing values(Removed = 17 rows)
2. Remove "$" and "B" from Valuation and Funding and cast as float
3. Exclude rows with "Unknown" Funding values (Removed = 12 rows)
4. Explode Select Investors into individual rows for categorical analysis

Original data =1,074 rows
Cleaned data = 1,045 rows(2,974 exploded rows)

In [1]:
# Import libraries
import pandas as pd

In [2]:
#Read CSV file
from google.colab import files
uploaded = files.upload()

Saving Unicorn_Companies.csv to Unicorn_Companies (1).csv

In [3]:
import io

df = pd.read_csv(io.BytesIO(uploaded['Unicorn_Companies.csv']))

In [4]:
df.shape

(1074, 10)

In [5]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [6]:
df.info

<bound method DataFrame.info of           Company Valuation Date Joined                         Industry  \
0       Bytedance     $180B  2017-04-07          Artificial intelligence
1          SpaceX     $100B  2012-12-01                            Other
2           SHEIN     $100B  2018-07-03  E-commerce & direct-to-consumer
3          Stripe      $95B  2014-01-23                          Fintech
4          Klarna      $46B  2011-12-12                          Fintech
...           ...       ...         ...                              ...
1069     Zhaogang       $1B  2017-06-29  E-commerce & direct-to-consumer
1070  Zhuan Zhuan       $1B  2017-04-18  E-commerce & direct-to-consumer
1071     Zihaiguo       $1B  2021-05-06                Consumer & retail
1072         Zopa       $1B  2021-10-19                          Fintech
1073        Zwift       $1B  2020-09-16  E-commerce & direct-to-consumer

               City         Country      Continent  Year Founded Funding  \
0           Beijing           China           Asia          2012     $8B
1         Hawthorne   United States  North America          2002     $7B
2          Shenzhen           China           Asia          2008     $2B
3     San Francisco   United States  North America          2010     $2B
4         Stockholm          Sweden         Europe          2005     $4B
...             ...             ...            ...           ...     ...
1069       Shanghai           China           Asia          2012   $379M
1070        Beijing           China           Asia          2015   $990M
1071      Chongqing           China           Asia          2018    $80M
1072         London  United Kingdom         Europe          2005   $792M
1073     Long Beach   United States  North America          2014   $620M

                                       Select Investors
0     Sequoia Capital China, SIG Asia Investments, S...
1     Founders Fund, Draper Fisher Jurvetson, Rothen...
2     Tiger Global Management, Sequoia Capital China...
3           Khosla Ventures, LowercaseCapital, capitalG
4     Institutional Venture Partners, Sequoia Capita...
...                                                 ...
1069    K2 Ventures, Matrix Partners China, IDG Capital
1070                           58.com, Tencent Holdings
1071  Xingwang Investment Management, China Capital ...
1072  IAG Capital Partners, Augmentum Fintech, North...
1073    Novator Partners, True, Causeway Media Partners

[1074 rows x 10 columns]>

In [7]:
# Drop rows with NaN values
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1057 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1057 non-null   object
 1   Valuation         1057 non-null   object
 2   Date Joined       1057 non-null   object
 3   Industry          1057 non-null   object
 4   City              1057 non-null   object
 5   Country           1057 non-null   object
 6   Continent         1057 non-null   object
 7   Year Founded      1057 non-null   int64
 8   Funding           1057 non-null   object
 9   Select Investors  1057 non-null   object
dtypes: int64(1), object(9)
memory usage: 90.8+ KB

In [8]:
#Remove "$" and "B" and cast "Valuation" as float
df["Valuation"] = (df["Valuation"]
                   .str.replace("$", "")
                   .str.replace("B", "000000000")
                   .astype(float)
)
df["Valuation"].head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

0    1.800000e+11
1    1.000000e+11
2    1.000000e+11
3    9.500000e+10
4    4.600000e+10
Name: Valuation, dtype: float64

In [9]:
#check for non-numerical values
df["Funding"].value_counts()

$1B        59
$2B        29
$200M      12
Unknown    12
$4B         9
           ..
$536M       1
$19M        1
$946M       1
$180M       1
$620M       1
Name: Funding, Length: 533, dtype: int64

In [10]:
# Exclude rows with unknown "Funding" values
df = df[df["Funding"] != "Unknown"] 
df.shape

(1045, 10)

In [11]:
# Remove "$" and "B" and cast "Funding" as float

df["Funding"] = (df["Funding"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .str.replace("M", "000000")
    .astype(float)
)

df["Funding"].head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

0    8.000000e+09
1    7.000000e+09
2    2.000000e+09
3    2.000000e+09
4    4.000000e+09
Name: Funding, dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [14]:
df["Select Investors"].unique()

array(['Sequoia Capital China, SIG Asia Investments, Sina Weibo, Softbank Group',
       'Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures',
       'Tiger Global Management, Sequoia Capital China, Shunwei Capital Partners',
       ...,
       'Xingwang Investment Management, China Capital Investment Group, Matrix Partners China',
       'IAG Capital Partners, Augmentum Fintech, Northzone Ventures',
       'Novator Partners, True, Causeway Media Partners'], dtype=object)

In [15]:
df["Select Investors"].nunique()

1031

In [16]:
df["Select Investors"].value_counts()

Two Sigma Ventures, Flint Capital, Commerce Ventures                                     2
Greylock Partners, Google Ventures, BlackRock                                            2
General Atlantic                                                                         2
Sequoia Capital                                                                          2
Qualcomm Ventures, Accel, Canaan Partners                                                2
                                                                                        ..
Guozhong Venture Capital Management, Shenzhen Capital Group, Oriental Fortune Capital    1
DeFi Technologies, Hypersphere Ventures, M13                                             1
Octopus Ventures, Munich Re Ventures, CommerzVentures                                    1
Alibaba Group,Co-Stone Venture Capital, Buhuo Venture Capital                            1
Novator Partners, True, Causeway Media Partners                                          1
Name: Select Investors, Length: 1031, dtype: int64

In [17]:
#Split investors and convert to list
df["Select Investors"] = df["Select Investors"].str.split(", ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [19]:
#Explode "Select Investors" to individual list
df = df.explode("Select Investors")
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sequoia Capital China
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,SIG Asia Investments
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sina Weibo
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Softbank Group
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,Founders Fund

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2974 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 255.6+ KB

In [21]:
df["Select Investors"].value_counts()

Accel                       59
Tiger Global Management     52
Andreessen Horowitz         52
Insight Partners            46
Sequoia Capital China       45
                            ..
Go-Ventures                  1
Lockheed Martin Ventures     1
GAM Holding                  1
HOF Capital                  1
Causeway Media Partners      1
Name: Select Investors, Length: 1235, dtype: int64

In [24]:
#Import the clean df to folder
from google.colab import files

df.to_csv('clean_unicorn_companies.csv', index=False, encoding = 'utf-8-sig') 
files.download('clean_unicorn_companies.csv')